
<!DOCTYPE html>
<html>
<body>

<h2>Books</h2>

<a href="/add">Add Book</a>

<table border="1">
<tr>
<th>Title</th><th>Author</th><th>Year</th><th>Actions</th>
</tr>

<% books.forEach(b => { %>
<tr>
<td><%= b.title %></td>
<td><%= b.author %></td>
<td><%= b.year %></td>
<td>
  <a href="/edit/<%= b.id %>">Edit</a>
  <a href="/delete/<%= b.id %>">Delete</a>
</td>
</tr>
<% }) %>

</table>

</body>
</html>

